body{
    margin: 0;
    border: 0;
    text-decoration: none;
}

/* Estilos para o cabeçalho */

header {
    background-color: #0f839d;
    color: white;
    padding:0;

    /* padding: 20px; */
    /* text-align: center; */
}

/* Estilos para a navegação */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: #2c0603;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: white;
    color: #f44336;
    border-radius: 5px;
}

/* Estilos para os produtos */
section {
    margin: 20px;
}

section h2 {
    color: #f44336;
    font-size: 24px;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #ccc;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

li h3 {
    color: #f44336;
    font-size: 20px;
    margin-top: 0;
}

li p {
    margin: 10px 0;
}

li img {
    width: 100%;
}

button {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: white;
    color: #f44336;
}
