body {
    margin: 0;
    border: 0;
    text-decoration: none;
    cursor: default;
}

a {
    text-decoration: none !important;
    text-shadow: #024c5d 2px;
}

/* Estilos para o cabeçalho */



header {
    background-color: #0f839d;
    color: white;
    padding: 0;


}

#cabecalho {
    /*     height: 10vh;*/
    width: 100%;
    color: aliceblue;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}

/* logo cabeçalho */
#logo {
    display: flex;
    height: fit-content;
    align-content: center;
    justify-content: center;
    margin: 5px 0 5px 10px
}


#logo .empresaLogo {
    border: #024c5d solid 2px;
    border-radius: 50%;
    margin-right: 5px;
    height: 100px;
    width: 95px;
}

#logo .empresaTitulo {
    font-size: 1.5rem;
}


/* Caixa de Itens Cabeçalho */

#userChoices {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 2px;
    font-size: 2rem;

}

#userChoices .icon {
    margin: 0px 10px 0px 10px;
}

#userChoices .badge {
    background: rgb(204, 11, 11);
    opacity: 0.6;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    float: none;
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 20px;
    width: fit-content;
    z-index: 100;
}

#userChoices .caixaIcon {
    position: relative;
}

.search-container {
    background-color: #0f839d;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.search-container button[type="submit"] {
    background-color: #182960;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button[type="submit"]:hover {
    background-color: #0f1746;
}

.search-container i {
    padding: 10px;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.intro-image {
    flex: 1 1 50%;
    max-width: 50%;
    margin-right: 50px;
}

.intro-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.intro-text {
    flex: 1 1 50%;
    max-width: 50%;
}

.intro-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.restaurant-info {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.restaurant-info li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.restaurant-info li i {
    margin-right: 10px;
    color: #e84118;
}

.btn-menu {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e84118;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-menu:hover {
    background-color: #c23616;
}

.card {
    width: 24rem;
    height: 35rem;
    padding: 5% 0 5% 0;
}

.card .btn{

    width: 100%;
    margin: 0;
}

.card img {
    width: 100%;
    height: 70%;
}

.card:hover img {
    filter: opacity(0.9);
    transition: transform 0.5s, filter 0.5s;
    transform: scale(1.01);
  }

.card card-body {

    height: 30%;
}